<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/abc/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abc/css/blog.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/abc/js/modernizer.js"></script>
</head>
</head>
<body>

    <% include ../common/user_header.ejs %>

    <div id="wrapper">
        <div class="section">
            <div class="container">
                <div class="row m45">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="blog-single">
                                <div class="post-media wow fadeIn">
                                    <img src="<%=blog.image%>" alt="" class="img-responsive">
                                </div>

                                <div class="blog-meta">
                                    <small><%=blog.date%></small>
                                    <small>by <a href=""><%=blog.name%></a></small>
                                    <small class="hidden-xs"><%=blog.catagory%></small>
                                </div>

                                <div class="blog-desc">
                                    <h3 class="post-title"><%=blog.title%></h3>
                                    <p class="lead">

                                    <p class="drop-cap"> 
                                        <%=blog.description %>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                                <div class="portfolio-share">
                                    <ul class="list-inline">
                                        <li><a href=""><i class="fab fa-facebook-f"></i> Like it</a></li>
                                        <li><a href=""><i class="far fa-save"></i></i> Pin it</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        

                        <hr class="invis">

                        <div class="comment-widget clearfix">
                            <div class="contact-widget">
                                <h4>5 Comments</h4>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-info">
                                        <div class="panel-body comments">

                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="comment">
                                                        <a href="" class="pull-left">
                                                            <img src="/abc/images/team_01.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <strong class="text">Jane Doe</strong>
                                                            <span class="text-muted">
                                                                                                <small class="text-muted">6 days ago</small></span>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#">#some link </a>.
                                                            </p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="comment">
                                                        <a href="#" class="pull-left">
                                                            <img src="/abc/images/team_03.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <strong class="text">Jana Cova</strong>
                                                            <span class="text-muted">
                                                                                                <small class="text-muted">12 days ago</small></span>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                                            </p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="comment">
                                                        <a href="#" class="pull-left">
                                                            <img src="/abc/images/team_02.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <strong class="text">Johnatan Smarty</strong>
                                                            <span class="text-muted">
                                                                                                <small class="text-muted">1 month ago</small></span>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                                                            </p>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="invis">

                        <div class="comment-widget clearfix">
                            <div class="contact-widget">
                                <h4>Leave a Comment</h4>
                                <hr>
                            </div>

                            <div class="contact_form comment-form">
                                <form class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label>Comment <span class="required"></span></label>
                                        <textarea class="form-control" placeholder=""></textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <input type="submit" value="Send Comment" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/abc/js/all.js"></script>
</body>
</html>