<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/abc/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abc/css/home.css">
    <script src="/abc/js/modernizer.js"></script>
</head>
<body> 

    <!--    header selected -->
     <% include ../common/user_header.ejs %>
    
    <div id="wrapper">
        <div class="section">
            <div class="container">
                <div class="row intro wow fadeIn">
                    <div class="col-md-12 text-center my-3">
                        <h1><strong>Blog</strong></h1>
                        <p><%=count.NI %></p>
                    </div>
                </div>

                <div id="da-thumbs" class="row da-thumbs portfolio wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">


                    
                    <% for(var i=0 ; i < blog.length; i++ ) { %>
                    <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="/blog/blog_details/<%=blog[i].id%>" title="">
                            <img src="<%=blog[i].image%>" alt="" class="img-responsive">
                            <div>
                                <h3><%=blog[i].title %> <strong><%=blog[i].name %></strong><small><%=blog[i].catagory %></small></h3>
                            </div>
                        </a>
                    </div>
                    
                    <% } %>

                     
                </div>    
            </div>
        </div>
    </div>

    <script src="/abc/js/all.js"></script>
    <script src="/abc/js/home.js"></script>
    <script src="/abc/js/hoverdir.js"></script>  
</body>
</html>